.auth {
    background: url('./assets/background_0.png') no-repeat center center,  url('./assets/background_1.png') no-repeat center center ;
    background-size: cover;    
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.forms__container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: relative;
}

.form {
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(2px);
    padding: 40px 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    transition: transform 0.5s, opacity 0.5s, display 0s 0.5s;
    transform: translateY(100px);
    height: auto;
    opacity: 0;
    grid-area: 1 / 1 / 1 / 1;
}

.active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s display 0s 0.5s;
    display: flex;
    z-index: 999;
}

.submitButton {
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    font-weight: 200;
    letter-spacing: 4px;
    cursor: pointer;
    font-family: 'Advent Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &:hover {
        // box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.471);
        
        color: rgb(169, 234, 255);
        border-color: rgb(169, 234, 255);
    }
}

.title {
    font-size: 30px;
    letter-spacing: 8px;
    color: white;
    font-weight: 200;
    font-family: 'Advent Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.text {
    color: rgba(255, 255, 255, .6);
    margin: 0;
}

.button {
    border: none;
    color: white;
    background: transparent;
    font-family: 'Advent Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}